# Environment & Secrets
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/


data/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Lib / dependencies (if venv is inside project)
lib/